In [2]:
import pandas as pd
import numpy as np

table = {
1:1, 16:2, 31:3, 46:2, 2:5, 17:2, 32:4, 47:2, 3:2, 18:4, 33:5, 48:11, 4:5, 19:6, 34:6, 49:5, 5:6, 20:1, 35:6, 50:5,
6:1, 21:6, 36:1, 51:4, 7:2, 22:5, 37:1, 52:6, 8:6, 23:2, 38:2, 53:5, 9:5, 24:5, 39:1, 54:1, 10:2, 25:1, 40:6, 55:1,
11:5, 26:6, 41:1, 56:2, 12:1, 27:4, 42:6, 57:4, 13:1, 28:1, 43:2, 58:3, 14:3, 9:6, 44:6, 59:6, 15:2, 30:2, 45:2, 60:5}

raw_df = pd.DataFrame.from_dict(table, orient='index', columns=['value'])
df = raw_df.sort_index()
df

    value
1       1
2       5
3       2
4       5
5       6
6       1
7       2
8       6
9       6
10      2
11      5
12      1
13      1
14      3
15      2
16      2
17      2
18      4
19      6
20      1
21      6
22      5
23      2
24      5
25      1
26      6
27      4
28      1
30      2
31      3
32      4
33      5
34      6
35      6
36      1
37      1
38      2
39      1
40      6
41      1
42      6
43      2
44      6
45      2
46      2
47      2
48     11
49      5
50      5
51      4
52      6
53      5
54      1
55      1
56      2
57      4
58      3
59      6
60      5

Calculate the following:

μx
 = 3.54
σx
 = 4.73

In [3]:
print(df["value"].mean())
print(df["value"].var())

3.542372881355932
4.7352425482174185

Use a random number generator to randomly select four samples of size  n=5 from the given population. 
Record your samples in Table. Then, for each sample, calculate the mean to the nearest tenth. Record them in the spaces provided. Record the sample means for the rest of the class.

In [4]:
sample_1 = df.sample(n=5)
sample_2 = df.sample(n=5) 
sample_3 = df.sample(n=5)
sample_4 = df.sample(n=5)
sample_5 = df.sample(n=5)

means = [sample_1.mean(), sample_2.mean(),sample_3.mean(),sample_4.mean(),sample_5.mean()]

sample_df = pd.DataFrame(means)
print(sample_df.mean())
print(sample_df.std())

value    3.2
dtype: float64
value    0.860233
dtype: float64

Calculate the following:

x¯
 = 3.32
 
sx¯
 = 0.43

Again, use a random number generator to randomly select four samples from the population. This time, make the samples of size  n=10.
Record the samples in Table. As before, for each sample, calculate the mean to the nearest tenth. Record the sample means for the rest of the class.

In [47]:
b_sample_1 = df.sample(n=10)
b_sample_2 = df.sample(n=10)
b_sample_3 = df.sample(n=10)
b_sample_4 = df.sample(n=10)
b_sample_5 = df.sample(n=10)

b_sample_1.rename(columns = {'value':'Sample 1'}, inplace=True)
b_sample_2.rename(columns = {'value':'Sample 2'}, inplace=True)
b_sample_3.rename(columns = {'value':'Sample 3'}, inplace=True)
b_sample_4.rename(columns = {'value':'Sample 4'}, inplace=True)
b_sample_5.rename(columns = {'value':'Sample 5'}, inplace=True)

b_sample_1 = b_sample_1.set_index(pd.RangeIndex(start=1, stop=11))
b_sample_2 = b_sample_2.set_index(pd.RangeIndex(start=1, stop=11))
b_sample_3 = b_sample_3.set_index(pd.RangeIndex(start=1, stop=11))
b_sample_4 = b_sample_4.set_index(pd.RangeIndex(start=1, stop=11))
b_sample_5 = b_sample_5.set_index(pd.RangeIndex(start=1, stop=11))

concat_df = pd.concat([b_sample_1, b_sample_2], axis = 0, join='inner')

AttributeError: 'tuple' object has no attribute 'set_index'