In [12]:
import pandas as pd

df = pd.read_csv("Stock Returns.csv",skiprows=3, header=0)
df = df.drop(columns = ["Unnamed: 0"])

df['Apple Stock Return(AAPL)'] = df['Apple Stock Return(AAPL)'].str.replace('%', '')
df['Apple Stock Return(AAPL)'] = df['Apple Stock Return(AAPL)'].astype(float)

df['Alphabet Stock Return (GOOGL)'] = df['Alphabet Stock Return (GOOGL)'].str.replace('%', '')
df['Alphabet Stock Return (GOOGL)'] = df['Alphabet Stock Return (GOOGL)'].astype(float)

df['Bank of America Stock Return (BAC)'] = df['Bank of America Stock Return (BAC)'].str.replace('%', '')
df['Bank of America Stock Return (BAC)'] = df['Bank of America Stock Return (BAC)'].astype(float)

df

,Date,Apple Stock Return(AAPL),Alphabet Stock Return (GOOGL),Bank of America Stock Return (BAC)
0,1/4/2017,-0.11,-0.03,1.86
1,1/5/2017,0.51,0.65,-1.18
2,1/6/2017,1.11,1.50,0.00
3,1/9/2017,0.92,0.24,-0.57
4,1/10/2017,0.10,-0.14,1.73
...,...,...,...,...
98,5/25/2017,0.35,1.46,-0.47
99,5/26/2017,-0.17,0.14,-0.04
100,5/30/2017,0.04,0.29,-1.42
101,5/31/2017,-0.59,-0.91,-2.18
102,6/1/2017,0.27,0.12,0.98

In [14]:
print(df["Apple Stock Return(AAPL)"].mean())
print(df["Apple Stock Return(AAPL)"].median())
print(df["Apple Stock Return(AAPL)"].mode())

0.273398058252427
0.08
0   -0.59
1   -0.23
2   -0.12
3    0.04
Name: Apple Stock Return(AAPL), dtype: float64

In [15]:
print(df["Alphabet Stock Return (GOOGL)"].mean())
print(df["Alphabet Stock Return (GOOGL)"].median())
print(df["Alphabet Stock Return (GOOGL)"].mode())

0.19932038834951465
0.19
0   -0.04
1    0.19
2    0.29
3    0.46
Name: Alphabet Stock Return (GOOGL), dtype: float64

In [16]:
print(df["Bank of America Stock Return (BAC)"].mean())
print(df["Bank of America Stock Return (BAC)"].median())
print(df["Bank of America Stock Return (BAC)"].mode())

0.016019417475728177
-0.04
0   -0.04
1    0.00
Name: Bank of America Stock Return (BAC), dtype: float64